*.csv
*.npy
*.pyc
*.pth
*.png
python/pydnn/__pycache__/network.cpython-314.pyc

build/
build_*/
.venv/
*.egg-info/
nul
python/pydnn/__pycache__/*.pyc
python/pydnn/*.pyd
notebooks/text_to_image/models/*.pth
examples/
notebooks/beanchmark/mnist_data/
